.FinishedMemeDisplay {
	position: relative;
	margin-top: 2rem;
}

.FinishedMeme img {
	z-index: -10;
	position: absolute;
	top: 0;
	left: 60px;
	width: 400px;
	height: 400px;
}

.topText,
.bottomText {
	width: 500px;
	color: white;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
		2px 2px 0 #000;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.bottomText {
	margin-top: 300px;
}

.delete {
	position: absolute;
	line-height: 1.7rem;
	top: 10px;
	color: red;
	left: 420px;
	font-size: 2rem;
}

.delete:hover {
	cursor: pointer;
	color: black;
	border: 1px solid white;
	background-color: red;
}
