.MemeForm img {
	max-width: 200px;
	max-height: 200px;
}

.form-control {
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

#displayCol {
	position: relative;
}

#display img {
	z-index: -10;
	position: absolute;
	top: 0;
	left: 60px;
	width: 400px;
	height: 400px;
}

.topText {
	text-align: center;
}
